body {
    background-color: #DC143C; 
    text-align: center;
    color: #40E0D0;
    
}

h1 {
    font-size: 70px;
}

p {
    font-size: 30px; 
    font-weight: bold;
}

button {
    width: 200px;   
    height: 200px;
    font-size: 20px;
    background: #191970;
    color: #40E0D0;
    border-radius: 50%;
    border: double #40E0D0 5px;
    font-family: 'Fugaz One', cursive;
    padding: 25px;
    margin: 25px;
}

a {
    width: 200px;   
    height: 200px;
    font-size: 20px;
    background: #191970;
    color: #40E0D0;
    border: double #40E0D0 5px;
    padding: 25px;

}

img {
    width: 200px;
    height: 200px;
    padding: 15px;
    margin: 25px;
}

footer {
    color: #191970;
    font-size: 20px;
    background: #40E0D0;
    
}